body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #053B50;
    opacity: 0.5;
    color: #64CCC5;
    margin: 0; 
    padding: 0;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}
a {
    text-decoration: none;
    color: #64CCC5;
}

a:hover {
    color: #929090;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.assignment {
    background-color: #145560;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image img{
   width: 320px;
   height: 150px;
}
.image-container {
    background-color: #145560;
    padding: 10px;
    margin: 10px;
    align-items: center;
    
}
#corner{
    position: relative; 
    text-align:left;
   
}
.desc{
    max-width: 320px; 
    margin-top: 10px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .assignments {
        flex-direction: column; 
    }
    .image img {
        height: auto; 
    }
    .desc{
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 769px) {
    .assignments {
        flex-direction: row;
    }
}