body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #053B50;

    color: #64CCC5;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #64CCC5;
}

a:hover {
    color: #929090;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
    
}

.assignment {
    background-color: #145560;
    margin: 20px;
    text-align: center;
    width: calc(33.33% - 40px); 
    box-sizing: border-box; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.image img {
    width: 400px; 
    height: 250px; 
   
}


.image-container {
    background-color: #145560;
    padding: 10px;
    margin: 10px;
    align-items: center;

}

#corner {
    position: relative;
    text-align: left;
}

.desc {
    max-width: 100%; 
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .assignments {
        flex-direction: column;
    }

    .assignment {
        width: 100%; 
        margin: 20px 0; 
    }
}

@media screen and (min-width: 769px) {
    .assignment {
        width: calc(33.33% - 40px); 
    }
}
