h1 {
    text-align: center;
}
#main-footer,
#main-footer a {
    color: white;
}
#main-footer ul {
    padding-left: 1%;
}
#main-footer li {
    list-style-type: none;
}
#main-footer a {

}
@media only screen and (min-width: 768px){
    .horizontal-nav ul,
    .flex-container {
        display:flex;
    }
    #main-nav ul{
        justify-content: center;
    }
    }
