body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:  white;
    
}

header {
    background-color: black ;
    color: white;
    padding: 30px 0;
    border-bottom: 3px solid #e74c3c  ;
}
.imgL{
    width: 500px;
    height: 400px;
    margin-top: -00px;
    margin-right: 150px;
    
}
.imgR{
    width: 500px;
    height: 400px;
    margin-top: -00px;
    margin-left: 150px;
}
#Book {
    width: 75px;
    height: 75px;
    float: left; 
    position: absolute;
    top: -10px;
}



nav {
    float: right; 
    top: 0px;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: black;
    transition: transform 0.3s ease-in-out;

}
nav ul {
    list-style-type: none;
    font-size: 20px;
    display: flex;

}

nav li {
    text-align: center;
    margin: 0 15px;
    
}

nav a {
    text-decoration: none;
    color: white;
}


.button{
    margin-left: 100px;
    padding: 7px;
    padding-right: 45px;
    padding-left: 45px;
    font-size: 20px;
    background-color: red;
}
.button:hover {
    background-color: #c0392b; 
}
.content-container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid grey;
}


.headBox {
    flex: 1;
}

.headBox h2 {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
   
}
.headBox p{
   
    font-size: 18px;
    margin-left: 150px;
    margin-right: 120px;
}
.box {
    flex: 1;
    padding: 20px;
    
}

.box h2 {
    margin-top: 150px;
  margin-right: 100px;
   margin-left: 100px;
}
.box p{
    margin-right: 100px;
    padding-left: 100px;
    font-size: 18px;
}

.box2 {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 120px;
}

#bookshelf {
    max-width: 100%;
   
}
.hamburger-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-right: 20px; 
}

.hamburger-button .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
}
#hamburger-input {
    display: none;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden; 
    }

    #nav {
        display: none;
        flex-direction: column; 
        position: fixed; 
        top: 0;
        left: 10%;
        background-color: black; 
    }

    nav ul {
        display: block;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    nav li {
        margin: 15px 0; 
    }

    #hamburger-input:checked + .hamburger-button + #nav {
        display: flex; 
        flex-direction: column;
    }
    #Book{
        display: none;
    }
}
@media (min-width: 768px) {
    .hamburger-button{
        display: none;
    }
    #Book{
        display: block;
    }
}