body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 25px;
    font-size: 24px;
}

header {
    background-color: black;
    color: white;
    padding: 15px 0;
    border-bottom: 3px solid #e74c3c;
}

#Book {
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    top: -5px;
}

nav {
    float: right;
    top: 0px;
    right: 0;
    position: absolute;
}

nav ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    margin: 0;
}

nav li {
    text-align: center;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

.content-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.box {
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box h2 {
    margin: 10px 0;
}

.button {
    padding: 5px;
    font-size: 16px;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    margin-top: 5px;
}

.book-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px; 
}

.placeholder-column {
    flex: 0 1 calc(33.33% - 20px); 
    margin: 0 10px 40px; 
    align-items: center;
    text-align: center; 
}

.placeholder-column img {
    max-width: 100%;
    height: auto;
}

.placeholder-column h2 {
    margin: 10px 0;
}

.placeholder-column p {
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    #nav {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        width: 100%;
        padding: 10px 0;
    }

    nav ul {
        margin-top: 10px;
    }

    nav li {
        margin: 10px 0;
    }

    #hamburger-input:checked + .hamburger-button + #nav {
        display: flex;
        flex-direction: column;
    }

    #Book {
        display: none;
    }
}

@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }

    #Book {
        display: block;
    }
}
